
<h1>Nouveau Rendez-vous</h1>
<p>Titre : {{ rdv.TitreOffre }}</p>
<p>Email : {{ rdv.email }}</p>
<p>Votre demande a été acceptée la date de la Rendez-vous de l'entretient sera a
    : {{ rdv.date|date('d-m-Y')}} au {{ rdv.Adresse}} </p>
