{% extends'base.html.twig' %}

{% block lwest %}

   <form action="{{ path('login') }}" method="POST">

       <input placeholder="Adresse email"  name="_username" type="text" class="form-control">


       <input placeholder="Mot de passe"  name="_password" type="password" class="form-control">



       <button type="submit" class="btn btn-sucess">Connexion</button>


   </form>
{% endblock %}

