{% extends 'base.html.twig' %}
 {% block content %}  {% endblock  %}
{% block body %}
    <h4>Inscription Evenements</h4>
    <br><br><br>
    <table id="bootstrap-data-table"class="table" >
        <tr class="table-light">
            <th>ID</th>
            <th>Libelle</th>
            <th>Description</th>
            <th>Date Debut</th>
            <th>Date Fin</th>
            <th>Prix Inscription</th>
            <th>Modifier</th>
            <th>Supprimer</th>


        </tr>

            <tr>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>

                <td>


                </td>

                <td>


                </td>
            </tr>


    </table>

{% endblock %}