{% extends 'base.html.twig' %}
 {% block content %}  {% endblock  %}
{% block body %}
    <h4>Inscription Evenements</h4>
    <br><br><br>
    <table id="bootstrap-data-table"class="table" >
        <tr class="table-light">
            <th>ID event</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>



        </tr>

            <tr>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                </td>
            </tr>


    </table>

{% endblock %}