{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajouter Evenement</title>
</head>
<body>
<h1>Créer une nouvelle Evenement</h1>
<form action="" method="POST">

    <div class="form-group">
     <br>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header"><strong></strong></div>
                <div class="card-body card-block">
                    <div class="form-group"><label for="company" class=" form-control-label">Libelle</label><input type="text" name="Libelle" placeholder="Saisissez le titre...... " class="form-control"></div>
                    <div class="form-group"><label for="vat" class=" form-control-label">Description</label><input type="text" name="description" placeholder="Saisissez la description......" class="form-control"></div>
                    <div class="form-group"><label for="street" class=" form-control-label">DateDebut</label><input type="text" name="DateDebut" placeholder="Saisissez la Date Debut......" class="form-control"></div>

                    <div class="form-group"><label for="country" class=" form-control-label">DateFin</label><input type="text" name="DateFin" placeholder="Saisissez la Date Fin........." class="form-control"></div>


                    <div class="form-group"><label for="country" class=" form-control-label">PrixInscription</label><input type="text" name="PrixInscription" placeholder="Saisissez Prix d'inscription............" class="form-control"></div>

                    <div class="form-actions form-group">
                        <button type="submit" class="btn btn-primary btn-sm">Ajouter Evenement</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</form>
</body>
</html>

{% endblock %}