{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier Promotion</title>
</head>
<body>
<h1>Modifier Promotion</h1>
<form action="" method="POST">
    Libelle: <input type="text" placeholder="Libelle" name="libelle" value={{ promotion.libelle }}>
    PoucentageReduction: <input type="text" placeholder="PoucentageReduction" name="PoucentageReduction"value={{ promotion.PoucentageReduction }}>


    <button type="submit" class="btn btn-primary btn-sm" >modifier Promotion</button>
</form>
</body>
</html>
{% endblock %}