
<div class="col-lg-7 mt-5 mt-lg-1 d-flex align-items-stretch">
    <form action="" method="post" role="form" class="php-email-form">
        <div class="form-row">
            <div class="form-group col-md-6">
                <form action="" method="POST">
                    Username <input type="text" placeholder="Username" name="Username">
                    Password <input type="text" placeholder="Password" name="Password">
                    Role: <input type="text" placeholder="Role" name="Role">
                    <button type="submit">ajouter formateur</button>

            </div>
        </div>
    </form>
</div>
